* {
    margin: 0;
    padding: 0;
}

.login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/src/assets/1.parking-1200x600.jpg) no-repeat center center/ cover;
}

.container_login {
    width: 20%;
    height: auto;
    min-height: max-content;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

.center {
    text-align: center;
}
    
.titulo {
    margin: 15px;
}

.fuente_textos_titulos {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
}

.fuente_textos {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
}


form input {
    height: 40px;
    width: 80%;
    border-radius: 40px;
    border: 2px solid #3a3939;
    padding: 5px;
    margin: 0px 5px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

.boton_login {
    margin-bottom: 15px;
    width: 90px;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(to right, #1a191a, #242424);
    color: white;
}

.boton_login:disabled {
    background-color: rgb(23, 23, 23);
    opacity: 0.5;
    cursor: not-allowed;
}



.icono-login {
    font-size: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
}

