<!--fixed inset-0 → ocupa toda la pantalla,bg-black bg-opacity-50 → aplica un fondo oscuro semitransparente, flex items-center justify-center → centra el contenido (el formulario)
z-50 → lo coloca por encima del resto del contenido-->
<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">

  <div class="bg-white rounded-xl shadow-lg p-6 w-full max-w-md">
    <h2 class="text-xl font-bold mb-4">Crear Celda</h2>

    <form (ngSubmit)="guardarCelda()" #formularioCelda="ngForm" class="space-y-4">
      <div>
        <label for="codigo" class="block font-medium">Código:</label>
        <input type="text" id="codigo" [(ngModel)]="nuevaCelda.codigo" name="codigo" required
          class="w-full border rounded-md px-3 py-2"/>
      </div>

      <div>
        <label for="tipoCelda" class="block font-medium">Tipo de Celda:</label>
        <select id="tipoCelda" [(ngModel)]="nuevaCelda.tipo" name="tipoCelda"
          class="w-full border rounded-md px-3 py-2">
          <option value="Automovil">Automóvil</option>
          <option value="Moto">Moto</option>
        </select>
      </div>

      <div>
        <label for="estadoCelda" class="block font-medium">Estado:</label>
        <select id="estadoCelda" [(ngModel)]="nuevaCelda.estado" name="estadoCelda"
          class="w-full border rounded-md px-3 py-2">
          <option value="Libre">Libre</option>
          <option value="Ocupado">Ocupada</option>
          <option value="Reservado">Reservado</option>
        </select>
      </div>

      <div class="flex justify-end gap-4 pt-4">
        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg">Guardar</button>
        <button type="button" (click)="cerrarModalCrearCelda()" class="bg-gray-300 px-4 py-2 rounded-lg">Cancelar</button>
      </div>
    </form>
  </div>
</div>