<div class="container-fluid py-4">
  <div class="container">
    <h1 class="text-center fw-bold mb-4 fs-3">👥 Listado de Clientes</h1>

    <div>
      <button type="button" class="btn btn-success mb-4">
        Crear <i class="bi bi-plus-lg"></i>
      </button>
    </div>

    <div class="table-responsive">
      <table class="table table-light table-hover table-bordered">
        <thead class="table-secondary text-center">
          <tr>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Tipo Plan</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <td>101</td>
            <td>Ana</td>
            <td>Gómez</td>
            <td>Mensual</td>
            <td>2025-05-01</td>
            <td>2025-05-31</td>
            <td>
              <button class="btn btn-outline-primary">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button class="btn btn-outline-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>102</td>
            <td>Carlos</td>
            <td>Ruiz</td>
            <td>Ocasional</td>
            <td>2025-05-10</td>
            <td>Indefinido</td>
            <td>
              <button class="btn btn-outline-primary">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button class="btn btn-outline-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>103</td>
            <td>Laura</td>
            <td>Martínez</td>
            <td>Mensual</td>
            <td>2025-04-15</td>
            <td>2025-05-15</td>
            <td>
              <button class="btn btn-outline-primary">
                <i class="bi bi-pencil-square"></i>
